* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

html {
	height: 100%;
    font-size: 20px;
	line-height: 1;
	user-select: none;
}


body {
	height: 100%;
	background-color: #cbcbcb;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}

.container-main {
	width: 550px;
	min-width: 320px;
	padding: 10px;
	box-shadow: 5px 8px 16px #464646;
	border-radius: 15px;
	background: linear-gradient(to bottom right, #fbbaba, #9be6ff);
	opacity: 0.9;
}

.container-search-main {
	display: flex;
    flex-direction: column;
	align-items: stretch;
}

/* _____SEARCH LINE INPUT_______ */
.search-line {
    padding: 13px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-bottom: none;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-input {
    width: 100%;
	font-size: 20px;
	text-indent: 10px;
	outline: none;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;

}

.search-input::placeholder {
  	transition: color 0.5s ease;
}
  
.search-input:hover::placeholder {
	color: #b4b4b4;
}

#search-button {
	text-shadow: 0 0 5px #333;
	font-size: 20px;
	background-color: transparent;
    border: none; 
    cursor: pointer;
	margin-left: 10px;
	transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

#search-button:hover {
	text-shadow: 0 0 0px #333;
	transform: scale(1.2);
}
/* ________________________________ */


.container-data {
	border: 1px solid black;
	display: grid;
 	grid-template-columns: 1fr 1fr;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.container-left-data {
	min-height: 222px;
	padding: 5px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	gap: 20px;
}

.container-right-data {
	border-left: 1px solid black;
}

.temper-text {
	font-size: 70px;
	font-weight: bold;
    cursor: default;
}

.weather-pic {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.weather-pic img {
	width: 70px;
	height: 70px;
}

.weather-details-feels {
	font-size: 18px;
}

.weather-details-feels p {
	margin-top: 5px;
}

.weather-details-time {
	margin-top: 15px;
	border-bottom: 1px solid #b5b5b5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-weather-details-time {
	font-size: 15px;
	margin-top: 25px;
}

.weather-details-time p:first-child {
	margin-bottom: 10px;
}

.container-weather-details-time p {
	margin-top: 3px;
}

.weather-details-time img {
	width: 50px;
	height: 50px;
}

.weather-details-time:last-child {
	border-bottom: 0px solid black;
}

.city-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
    cursor: default;
}

.like-button {
	text-shadow: 0 0 10px #000;
	color: #fff;
	font-size: 26px;
	background-color: transparent;
    border: none; 
    cursor: pointer;
	transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.like-button:hover {
	color: #ff0000;
	font-weight: bold;
	text-shadow: 0 0 1px #c51313;
	transform: scale(1.1);
}

.header-added-locations {
	border-bottom: 1px solid black;
	padding: 15px 10px;
	font-size: 18px;
    cursor: default;
}

.selected-cities {
	font-size: 18px;
	padding: 10px 10px 0px 10px
}

.selected-cities-list {
	list-style-type: none;
    cursor: default;
	width: 100%;
	padding: 5px 3px;
	display: flex;
	flex-direction: column; 
    /* max-height: 222px; */
}

.selected-cities-list li {
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-start;
    cursor: pointer;
	align-items: center;
	overflow: hidden;
	white-space: nowrap; 
}

.delete-button {
	width: 22px;
	height: 22px;
	background-color: rgba(255, 255, 255, 0);
	color: #8a8a8a;
	border-radius: 50%;
	font-size: 15px;
	transition: color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.4s ease-in-out, transform .5s ease;
    cursor: pointer;
	margin-right: 10px;
}

.delete-button:hover{
	transform: scale(1.2) rotate(90deg);
	box-shadow: 0 0 0px #000;
	color: #000;
}

.selected-cities-list li p {
	color: #000;
	transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  }

.delete-button:hover + p {
	text-decoration: line-through;
	color: #949494;
}
  

.selected-cities-list li p:hover {
	font-weight: bold;
}



@media (max-width: 500px) {

	.container-main {
		width: 320px;
	}
	
	.container-data {
		display: flex;
		flex-direction: column;
	}

	.container-left-data {
		border-left: 0px solid black;
	}

	.container-right-data {
		border-left: 0px solid black;
	}

	.header-added-locations {
		padding: 10px 10px;
		border-top: 1px solid black;
	}
	
	.header-added-locations span {
		margin-left: 10px;
	}

	.selected-cities {
		min-height: 22px;
	}
}
